<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${secured}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.testYoSslStaticsUrl},
  ${clientTopology.testYoStaticsUrl},
  ${clientTopology.staticBaseUrl},
  ${clientTopology.sslStaticBaseUrl}

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #if( false )
  DO NOT TOUCH!!
  --------------
  #end
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr","nl"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
  #if( $secured )
    #set( $staticsUrl = $clientTopology.testYoSslStaticsUrl )
    #set( $staticBaseUrl = $clientTopology.sslStaticBaseUrl )
  #else
    #set( $staticsUrl = $clientTopology.testYoStaticsUrl )
    #set( $staticBaseUrl = $clientTopology.staticBaseUrl )
  #end
-->
<html ng-app="<%= scriptAppName %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>testYo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="bower_components/wix-ui-lib2/ui-lib.min.css"/>
    <link rel="stylesheet" href="${staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- end-process-tags -->

    <!-- #if( false ) -->
    <script>
      /* jshint ignore:start */
      ENABLE_MOCKS = ${enableMocks};
    </script>
    <!-- #end -->
    
    ${newRelicEndUserHeader}
    
  </head>
  <body>
    
    <!-- Add your site or application content here -->
    <div class="container" ng-include="'views/backOffice.html'"></div>
    
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.41.0/js/Wix.js"></script>
    <!-- process-tags prefix('${staticsUrl}') -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="scripts/locale/messages_${locale}.js"></script>

    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modulesBackOffice.js -->
    <script src="scripts/service/wix.js"></script>

    <script src="scripts/backOfficeApp.js"></script>
    <script src="scripts/controllers/backOffice.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- end-process-tags -->

    <!-- #if( false ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- build:js(test) scripts/mocks.js -->
    <script src="mock/server-api.js"></script>
    <!-- endbuild -->
    <script>
      if (ENABLE_MOCKS) {
        angular.module('<%= scriptAppName %>').requires.push('<%= scriptAppName %>Mocks');
      }
    </script>
    <!-- #end -->
   <script>
      angular.module('<%= scriptAppName %>').config(function (wixAngularProvider) {
        wixAngularProvider.setStaticsUrl('${staticsUrl}');
        wixAngularProvider.setExperiments(${experiments});
      });
    </script>
    
    ${newRelicEndUserFooter}
    
  </body>
</html>
